<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 300 162.47461"
   id="svg3840"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="calculation.svg">
  <g
     inkscape:label="Calque 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-255.45129,-408.26776)">
    <text
       sodipodi:linespacing="125%"
       id="first_number"
       y="435.49628"
       x="548.60449"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"
       inkscape:label="#text3866"><tspan
         id="tspan3874"
         y="435.49628"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#ffffff"><%= number1 %></tspan><tspan
         id="tspan3876"
         y="480.49628"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234" /></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:none;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="548.60449"
       y="570.00134"
       id="good_result_conteneur"
       sodipodi:linespacing="125%"
       inkscape:label="#text5947"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234"
         sodipodi:role="line"
         x="548.60449"
         y="570.00134"
         id="good_result"></tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234"
         sodipodi:role="line"
         x="548.60449"
         y="615.00134"
         id="tspan5955" /></text>
    <text
       sodipodi:linespacing="125%"
       id="second_number"
       y="480.46588"
       x="548.60449"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"
       inkscape:label="#text3887"><tspan
         id="tspan3895"
         y="480.46588"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#ffffff"><%= number2 %></tspan><tspan
         id="tspan3897"
         y="525.46588"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234" /></text>
    <text
       sodipodi:linespacing="125%"
       id="operator"
       y="480.50641"
       x="429.61462"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"
       inkscape:label="#text3905"><tspan
         id="tspan3913"
         y="480.50641"
         x="429.61462"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#ffffff"><%= operator %></tspan><tspan
         id="tspan3915"
         y="525.50641"
         x="429.61462"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234" /></text>
    <text
       sodipodi:linespacing="125%"
       id="user_input"
       y="525.39496"
       x="548.60449"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"
       inkscape:label="#text3924"><tspan
         id="userResult"
         y="525.39496"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#ffffff"></tspan><tspan
         id="tspan3934"
         y="570.39496"
         x="548.60449"
         sodipodi:role="line"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:125%;font-family:Lavi;-inkscape-font-specification:'Lavi, Normal';text-align:end;writing-mode:lr-tb;text-anchor:end;fill:#8ae234" /></text>
    <path
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:125%;font-family:Bromine;-inkscape-font-specification:'Bromine, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:none;fill:#ef2929;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       sodipodi:nodetypes="csssssssc"
       inkscape:connector-curvature="0"
       id="red_line"
       d="m 551.87082,512.16774 c 1.09962,0 1.96361,0.86399 1.96361,1.96361 0,1.09963 -0.86399,1.96362 -1.96361,1.96362 -1.57089,0 -65.70358,-1.22132 -72.92966,-1.22132 -1.45307,0 -2.74906,0.0785 -3.88796,0.0785 -1.06035,0 -2.08143,-0.74617 -2.08143,-1.8458 0,-2.67051 3.06324,-2.15997 5.85157,-2.15997 7.3439,0 73.04748,0.12169 73.04748,1.22132 z"
       inkscape:label="#path5723-3" />
    <path
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:125%;font-family:Bromine;-inkscape-font-specification:'Bromine, Normal';text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       sodipodi:nodetypes="csssssssc"
       inkscape:connector-curvature="0"
       id="path5723-2"
       d="m 403.99581,489.11637 c -1.09962,0 -1.96361,0.86399 -1.96361,1.96361 0,1.09963 0.86399,1.96362 1.96361,1.96362 1.57089,0 135.13607,-2.26054 142.36216,-2.26054 1.45307,0 2.74906,0.0785 3.88795,0.0785 1.06035,0 2.08143,-0.74617 2.08143,-1.8458 0,-2.67051 -3.06323,-2.15997 -5.85156,-2.15997 -7.34391,0 -141.38036,2.26054 -142.47998,2.26054 z" />
  </g>
</svg>
