<div class="account">
    <span><%=line_account %></span><br>
</div>

<form>
    <input type="text" id="resultatUser" val="" placeholder="total" />
    <div id="keyboard">
        <button type="button" data-value="1" class="number">1</button>
        <button type="button" data-value="2" class="number">2</button>
        <button type="button" data-value="3" class="number">3</button>
        <button type="button" data-value="4" class="number">4</button>
        <button type="button" data-value="5" class="number">5</button>
        <button type="button" data-value="6" class="number">6</button>
        <button type="button" data-value="7" class="number">7</button>
        <button type="button" data-value="8" class="number">8</button>
        <button type="button" data-value="9" class="number">9</button>
        <button type="button" id="delete">C</button>
        <button type="submit">GO</button>
    </div>
</form>
<div id="win">
    Gagné
    <button type="button" class="next">suivant</button>
</div>
<div id="loose">
    Perdu
    <button type="button" class="next">suivant</button>
</div>
