<div class="account">
    <span><%=line_account %></span><br>
</div>

<form>
    <p id="userResult"></p>
    <div id="keyboard">
        <button type="button" class="number" id="button_number_1"></button>
        <button type="button" class="number" id="button_number_2"></button>
        <button type="button" class="number" id="button_number_3"></button>
        <button type="button" class="number" id="button_number_4"></button>
        <button type="button" class="number" id="button_number_5"></button>
        <button type="button" class="number" id="button_number_6"></button>
        <button type="button" class="number" id="button_number_7"></button>
        <button type="button" class="number" id="button_number_8"></button>
        <button type="button" class="number" id="button_number_9"></button>
        <button type="button" class="number" id="button_number_0"></button>
        <button type="button" class="number"><img src="img/button_cancel.svg"></button>
        <button type="submit" class="number"><img src="img/button_validation.svg"></button>
    </div>
</form>
<section id="win">
    <span data-l10n-id="win">Gagné</span>
    <button type="button" class="next"><img src="img/button_next.svg"><span data-l10n-id="next">Suivant</span></button>
</section>
<section id="lose">
    <p id="realResult"></p>
    <span data-l10n-id="lose">Perdu</span> 
    <button type="image" class="next"><img src="img/button_next.svg"><span data-l10n-id="next">Suivant</span></button>
</section>
