<div class="calculation"></div>
<div class="end_title"></div>

<form>
    <div id="keyboard">
        <button type="button" class="number" id="button_number_1" data-number="1"></button>
        <button type="button" class="number" id="button_number_2" data-number="2"></button>
        <button type="button" class="number" id="button_number_3" data-number="3"></button>
        <button type="button" class="number" id="button_number_4" data-number="4"></button>
        <button type="button" class="number" id="button_number_5" data-number="5"></button>
        <button type="button" class="number" id="button_number_6" data-number="6"></button>
        <button type="button" class="number" id="button_number_7" data-number="7"></button>
        <button type="button" class="number" id="button_number_8" data-number="8"></button>
        <button type="button" class="number" id="button_number_9" data-number="9"></button>
        <button type="button" class="number" id="button_number_0" data-number="0"></button>
        <button type="button" class="number-other" id="reset"><img src="img/button_cancel.svg" alt=""></button>
        <button type="submit" class="number-other" id="submit"><img src="img/button_validation.svg" alt=""></button>
    </div>
</form>
<button type="button" class="next">Suivant</button>

<img src="img/fireworks.svg" class="fireworks" alt="">
