<section class="title">
    <h1>Je calcule</h1>
    <img src="img/title_smile.svg" class="smile" />
</section>


<section class="home_menu">
    <a class="menu_addition" href="#level/1">
        <img src="img/menu_addition.svg" alt="Addition" />
    </a>
    <a class="menu_soustraction" href="#level/2">
        <img src="img/menu_soustraction.svg" alt="Soustraction" />
    </a>
    <a class="menu_multiplication" href="#level/3">
        <img src="img/menu_multiplication.svg" alt="Multiplication" />
    </a>
    <a class="menu_division" href="#level/4">
        <img src="img/menu_division.svg" alt="Division" />
    </a>
</section>
