<div class="title"></div>
<ul class="buttons_level">
    <li class="button_level"><a href="#game/<%=operator %>/1" id="button_level_1">Niveau 1</a></li>
    <li class="button_level"><a href="#game/<%=operator %>/2" id="button_level_2">Niveau 2</a></li>
    <li class="button_level"><a href="#game/<%=operator %>/3" id="button_level_3">Niveau 3</a></li>
    <li class="button_level"><a href="#game/<%=operator %>/4" id="button_level_4">Niveau 4</a></li>
    <li class="button_level"><a href="#game/<%=operator %>/5" id="button_level_5">Niveau 5</a></li>
</ul>
