<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.je-calcule" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Je calcule</name>
    <description>
        Application mobile et web d'entraînement au calcul pour les enfants
    </description>
    <author email="" href="">
        Boz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="firefoxos" version="3.6.3" />
    <engine name="android" version="3.7.1" />
</widget>
