@font-face {
  font-family: 'Lavi';
  src: url('../fonts/Lavi.eot');
  src: local('☺'), url('../fonts/Lavi.woff') format('woff'), url('../fonts/Lavi.ttf') format('truetype'), url('../fonts/Lavi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: Lavi;
}
